<link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
#joke {
    text-align: center;
    margin: auto;
    padding: 85px;
    font-size:3rem;
    color: #FFF748;
    color: yellow;
    font-family: 'Bangers', cursive;
  }

#title {
    font-family: 'Bangers', cursive;
    padding: 30px;
    font-size:4rem;
    color: white;
    text-decoration: underline;
}
 

 
