<link href="http://fonts.googleapis.com/css?family=Bangers" rel="stylesheet" type="text/css" />
#joke {
    text-align: center;
    margin: auto;
    padding: 85px;
    font-size:3rem;
    color: #FFF748;
    color: yellow;
    font-family: 'Bangers';
  }

#title {
    font-family: 'Bangers', serif;
    padding: 30px;
    font-size:4rem;
    color: white;
    text-decoration: underline;
}
 

 
